APP_ID=YOUR_APP_ID
API_KEY=YOUR_API_KEY
EXERCISE_ENDPOINT=https://trackapi.nutritionix.com/v2/natural/exercise

SHEETY_ENDPOINT=https://api.sheety.co/your_project/workouts

# Bearer Token
SHEETY_TOKEN=YOUR_BEARER_TOKEN

# OR Basic Authentication
SHEETY_USERNAME=YOUR_USERNAME
SHEETY_PASSWORD=YOUR_PASSWORD

